html{
    scroll-behavior:smooth;
}

body {
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    font-family: "Rubik", sans-serif;
    font-size: 24px;
}

.bold {
    font-weight: bold;
  }  

h1 {
    color: #ff8b4d;
    text-align: center;
    font-size: 48px;
}

#saludo{
    color: #ff8b4d;
    font-size: 28px;
    padding-left: 5px;
}

h3 {
    color: #CFD8DC;
}

p {
    color: white;
}

#indice {
    margin: 0 20px;
    color: white;
    margin-bottom: 20px;
}

nav {
    background-color: #61b0f01f;
    padding: 10px 0;
    margin-top: 20px;
    width: 100%;
    border-radius: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
}

nav ul li {
    flex: 1;
    margin: 0;
}

nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    background-color: transparent;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #61b0f025;
}

#parrafo-sobre-mi {
    color: black;
}

#title-name {
    color: white;
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

#subtitle-name {
    color: white;
    font-size: 32px;
}

#title-job {
    color: lightgray;
    font-size: 36px;
    font-weight: 30px;

}

.personas-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    align-items: stretch
}

.persona {
    text-align: center;
    padding: 20px;
}

.persona img {
    width: 400px;
    height: 400px;
    border-radius: 80px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.616);
}
 
.boton-descargar {
    display: inline-block;
    padding: 10px 20px;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: #007bff;
    border: 2px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
 
.boton-descargar:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
 
.boton-descargar:active {
    background-color: #004080;
    border-color: #004080;
}

.sobre-nosotros-container {
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    gap: 50px;
    padding: 25px;
}

.sobre-nosotros-alineacion {
    flex-basis: 50%;
}

.divider {
    border-left: 2px;
    width: 2px;
    height: 400px;
    margin: 10px;
    align-items: stretch;
    background-color: rgb(138, 131, 131);
}

.sobre-nosotros-encabezado {
    text-align: center;
}

.sobre-nosotros-encabezado img {
    width: 250px;
    border-radius: 100px;
}

.sobre-nosotros-cuadro {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.info-fila {
    display: flex;
    gap: 25px;
}

.info-bloque {
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 50%;
    border-radius: 10px;
}

.info-bloque i {
    margin-bottom: 10px;
    font-size: 22px;
    display: block;
}

.desarrollo-profesional-container {
    display: flex;
    align-items: center;
    font-size: 24px;
    align-items: stretch;
}

.desarrollo-profesional {
    padding: 20px;
    margin: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #61b0f01f;
    border-radius: 50px;
}

.desarrollo-profesional img {
    width: 200px;
    height: 200px;
}

.experiencia-laboral-container {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 75%;
    margin: 0 auto;
}

.experiencia-laboral {
    padding: 10px;
    width: 50%;
}

.experiencia-laboral-container img {
    width: 450px;
    margin-right: 20px;
}

.que-es-lo-que-hacemos-container {
    color: white;
    display: flex;
    align-items: center;
    font-size: 24px;
    align-items: stretch;
}

.que-es-lo-que-hacemos {
    padding: 20px;
    margin: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #61b0f01f;
    border-radius: 50px;
}

.que-es-lo-que-hacemos-box {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
}

.que-es-lo-que-hacemos-box i {
    color: white;
    margin-bottom: 10px;
}

.que-es-lo-que-hacemos-box h2 {
    margin-top: 10px;
}

.formacion-academica-container {
    display: flex;
    align-items: center;
    color: #CFD8DC;
}

.formacion-academica {
    padding: 20px;
    margin: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
}

.formacion-academica-container img {
    width: 350px;
}

.certificaciones-container {
    display: flex;
    padding: 10px;
}

.certificaciones {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
}

.certificaciones>div {
    margin: 40px;
    text-align: center;
}

.certificaciones img {
    width: 450px;
    height: 300px;
}

.habilidades-container {
    display: flex;
    margin: 0 auto;
    text-align: center;
}

.habilidades {
    color: white;
    padding: 40px;
    width: 50%;
}

.habilidades-container img {
    width: 250px;
    height: 250px;
}

progress {
    width: 100%;
    height: 30px;
    color: #61b0f0c0;
    background-color: #ccc;
}

progress::-webkit-progress-bar {
    background-color: rgba(255, 255, 255, 0.563);
}

progress::-webkit-progress-value {
    background-color: #61b0f0c0;
}

.intereses-container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
}

.intereses-container img {
    width: 350px;
    height: 350px;
}

.intereses {
    color: white;
    text-align: left;
    margin: 20px;
    padding: 20px;
}

ul {
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.contacto-container {
    display: flex;
    font-size: 24px;
    align-items: stretch;
}

.contacto {
    margin: 10px;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contacto i {
    font-size: 45px;
    margin: 20px;
    color: white
}