body {
    background-color: #321D2E;
    font-family: "Rubik", sans-serif;
    font-size: 24px;
}

h1 {
    color: #EE5F38;
    text-align: center;
    font-size: 44px;
}

#inicio {
    color: #EE5F38;
    font-size: 24px;
}

h3 {
    color: #CFD8DC;
}

p {
    color: white;
}

nav {
    background-color: #a883a2;
    font-size: 20px;
}

#indice {
    color: black;
}

#parrafo-sobre-mi {
    color: black;
}

#title-name {
    color: white;
    font-size: 46px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

#subtitle-name {
    color: white;
    font-size: 28px;
}

#title-job {
    color: lightgray;
    font-size: 32px;
}

.personas-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    align-items: stretch
}

.persona {
    text-align: center;
    padding: 20px;
}

.persona img {
    width: 400px;
    height: 400px;
    border-radius: 80px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.616);
}

.boton-descargar {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: lightskyblue;
    border-radius: 5px;
    font-weight: bold;
}

.sobre-nosotros-container {
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    gap: 50px;
    padding: 25px;
}

.sobre-nosotros-alineacion {
    flex-basis: 50%;
}

.divider {
    border-left: 2px;
    width: 4px;
    height: 400px;
    margin: 10px;
    align-items: stretch;
    background-color: rgb(138, 131, 131);
}

.sobre-nosotros-encabezado {
    text-align: center;
}

.sobre-nosotros-encabezado img {
    width: 250px;
    border-radius: 100px;
}

.sobre-nosotros-cuadro {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.info-fila {
    display: flex;
    gap: 25px;
}

.info-bloque {
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 50%;
    height: 100px;
    border-radius: 10px;
}

.info-bloque i {
    margin-bottom: 10px;
    font-size: 22px;
    display: block;
}

.desarrollo-profesional-container {
    display: flex;
    align-items: center;
    font-size: 24px;
    align-items: stretch;
}

.desarrollo-profesional {
    padding: 20px;
    margin: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #443141;
}

.desarrollo-profesional img {
    width: 200px;
    height: 200px;
}

.experiencia-laboral-container {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    max-width: 65%;
    margin: 0 auto;
}

.experiencia-laboral {
    padding: 10px;
    width: 50%;
}

.experiencia-laboral-container img {
    width: 250px;
    margin: 50px;
}

.formacion-academica-container {
    display: flex;
    align-items: center;
    color: #CFD8DC;
}

.formacion-academica {
    padding: 20px;
    margin: 10px;
    width: 50%;
    display: flex;
}

.certificaciones-container {
    display: flex;
    align-items: stretch;
}

.certificaciones {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.certificaciones>div {
    margin: 70px;
    text-align: center;
}

.certificaciones img {
    width: 150px;
    height: 120px;
}

.habilidades-container {
    display: flex;
    margin: 0 auto;
    width: 50%;
    
}

.habilidades {
    color: white;
    margin: 10px;
    width: 50%;
   
}

.habilidades-container img {
    width: 500px;
}

progress {
    width: 100%; /* Asegura que el progreso tome todo el espacio horizontal disponible */
    height: 20px; /* Aumenta el alto de la barra de progreso */
    color: lightskyblue; /* Cambia el color de la barra de progreso a rojo */
    background-color: #ccc; /* Color de fondo de la barra cuando no está llena */
}

progress::-webkit-progress-bar {
    background-color: white;
}

progress::-webkit-progress-value {
    background-color: lightskyblue;
}

.intereses-container {
    display: flex;
    margin: 0 auto;
    width: 50%;
    
}

.intereses {
    color: white;
    margin: 10px;
    width: 50%;
   
}

.contacto-container {
    display: flex;
    font-size: 24px;
    align-items: stretch;
}

.contacto {
    margin: 10px;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contacto i {
    font-size: 45px;
    margin: 20px;
    color: white

}