html{
    scroll-behavior:smooth;
}

body {
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    font-family: "Rubik", sans-serif;
    font-size: 24px;
}

.bold {
    font-weight: bold;
  }

h1 {
    margin: 0 20px;
    color: white;
    margin-bottom: 20px;
}

h2 {
    color: #ff8b4d;
    text-align: center;
    font-size: 48px;
}


#saludo{
    color: #ff8b4d;
    font-size: 28px;
    padding-left: 5px;
}

#saludo span{ 
    font-weight: bold;
}

h3 {
    color: #CFD8DC;
}

p {
    color: white;
}

nav {
    background-color: #61b0f01f;
    padding: 10px 0;
    margin-top: 20px;
    width: 100%;
    border-radius: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
}

nav ul li {
    flex: 1;
    margin: 0;
}

nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    background-color: transparent;
    border-radius: 20px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #61b0f025;
    border-radius: 20px;
}

#parrafo-sobre-mi {
    color: black;
}

#title-name {
    color: white;
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

#subtitle-name {
    color: white;
    font-size: 32px;
}

#title-job {
    color: lightgray;
    font-size: 36px;
    font-weight: 30px;

}

.personas-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    align-items: stretch
}

.persona {
    text-align: center;
    padding: 20px;
}

.persona img {
    width: 400px;
    height: 400px;
    border-radius: 80px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.616);
}
 
.boton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: #007bff;
    border: 2px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
 
.boton:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
 
.boton:active {
    background-color: #004080;
    border-color: #004080;
}

#sobre-nosotros-titulo {
    text-align: center;
    font-size: 32px;
    color: #ff8b4d;
    margin-bottom: 20px;
}

.sobre-nosotros-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sobre-nosotros-bloque {
    flex: 1;
    padding: 20px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #61b0f01f;
    border-radius: 50px;
    max-width: 45%;
}

.sobre-nosotros {
    text-align: center;
    width: 100%;
}

.sobre-nosotros ul {
    list-style: none;
    padding: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre-nosotros li {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-bottom: 5px;
    color: #f0f0f0;
    width: 100%;
    max-width: 500px;
}

.sobre-nosotros li i {
    margin-right: 10px;
    font-size: 20px;
    color: #ff8b4d;
}

.sobre-nosotros-imagen {
    text-align: center;
    margin-top: 10px;
}

.sobre-nosotros-imagen img {
    max-width: 50%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(39, 39, 39, 0.2);
}


.desarrollo-profesional-container {
    display: flex;
    align-items: center;
    font-size: 24px;
    align-items: stretch;
}

.desarrollo-profesional {
    padding: 20px;
    margin: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #61b0f01f;
    border-radius: 50px;
}

.desarrollo-profesional img {
    width: 200px;
    height: 200px;
}

.experiencia-laboral-container {
    background-color: #61b0f01f;
    border-radius: 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.experiencia-laboral {
    width: 100%;
}

.experiencia-laboral-container img {
    width: 450px;
    margin-right: 20px;
}

.que-es-lo-que-hacemos-container {
    color: white;
    display: flex;
    align-items: center;
    font-size: 24px;
    align-items: stretch;
}

.que-es-lo-que-hacemos {
    padding: 20px;
    margin: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #61b0f01f;
    border-radius: 50px;
}

.que-es-lo-que-hacemos-box {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
}

.que-es-lo-que-hacemos-box i {
    color: white;
    margin-bottom: 10px;
}

.que-es-lo-que-hacemos-box h2 {
    margin-top: 10px;
}

.formacion-academica-container {
    display: flex;
    align-items: center;
    color: #CFD8DC;
    background-color: #61b0f01f;
    margin: 10px;
    border-radius: 20px;
}

.formacion-academica {
    padding: 20px;
    margin: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
}

.formacion-academica-container img {
    width: 350px;
}

.certificaciones-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.certificaciones-container > div {
    text-align: center;
    margin-bottom: 20px;
}

.certificaciones-container .botones {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}


.certificaciones {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.certificado {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 10px; 
}

.certificado img {
    width: 100%;
    max-width: 100%;
    width: 750px;
    height: 600px;
    object-fit: contain;
}

.habilidades-container {
    display: flex;
    margin: 0 auto;
    text-align: center;
}

.habilidades {
    color: white;
    padding: 40px;
    width: 50%;
    background-color: #61b0f01f;
    border-radius: 50px;
    margin: 10px;
}

progress {
    width: 100%;
    height: 30px;
    color: #61b0f0c0;
    background-color: #ccc;
}

progress::-webkit-progress-bar {
    background-color: rgba(255, 255, 255, 0.563);
}

progress::-webkit-progress-value {
    background-color: #61b0f0c0;
}

.intereses-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background: #61b0f025;
    color: white;
    padding: 20px;
    border-radius: 50px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.intereses {
    flex: 1;
    margin-left: 80px;
}

.intereses p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #f0f0f0;
}

.intereses ul {
    list-style: none;
    padding: 0;
}

.intereses li {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 5px;
    color: #f0f0f0;
}

.intereses li i {
    margin-right: 10px;
    font-size: 20px;
    color: #61b0f0c0;
}

.intereses-imagen {
    flex: 1;
    text-align: center;
}

.intereses-imagen img {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}


.contacto-container {
    display: flex;
    font-size: 24px;
    align-items: stretch;
}

.contacto {
    margin: 10px;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contacto i {
    font-size: 45px;
    margin: 20px;
    color: white
}